.testimonials-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url(/imagenes/testimonials.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* Para que la imagen se adapte al contenedor */
}
.testimonials-content{
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgb(36, 37, 37) 0%, rgba(0, 0, 0, 0.9473039215686274) 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.title-testimonials{
    padding: 10px;
    color: rgb(244, 110, 0);
    font-size: 5rem;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
    font-family: "Squada One", sans-serif;
    font-weight: 600;
    text-align: center;
}
.testimonials{
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.testimony{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 20rem;
    height: 15rem;
    font-family: 'Poppins', sans-serif;
    padding: 3px;
    border-radius: 10px;
    border: solid 2px rgb(244, 110, 0);
    color: rgb(0, 0, 0);
}
.title-testimony{
    padding: 10px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
}