/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 100vh;
    background-color: white;
}

.service-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
  
}
.service-main{
    background-image: url('/public/imagenes/sprinter.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 4000px rgba(0, 0, 0, 0.723);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    color: white;
    z-index: 1;
    width: 100vw;
    height: 400px;
}
.service-info {
    display: block;
    flex-direction: column;
    align-items: center;
    width: 100%;
 
}

.title-service-major {
    
    font-family: "Barlow Condensed", sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
    z-index: 1;
    letter-spacing: 2px;
   
    
}

.description-service-major {
    font-size: 1.2rem;
    color: #666;
    margin: 1rem 0;
    font-family: 'Oswald', sans-serif;
}
.service-info .description-service{
    font-size: 1.2rem;
    color: #ffffff;
    margin: 5px;
    font-family: 'Oswald', sans-serif;
    z-index: 1;
   
}

.btn-service {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-service:hover {
    background-color: #0056b3;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2rem;
    padding: 10px;

    
}

.service-card {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    list-style: none;
}

.service-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.title-service {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.description-service {
    font-size: 1rem;
    color: #666;
}
