.footer-section{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: white;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: rgb(244,110,0);
    margin: 10px 0;
   
}
.service{
    max-width: 1000px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: white;
    padding: 40px;
}

.service-title{
    color: rgb(255, 255, 255);
}

.description-service{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
}
.btn-wsp{
   border: 2px solid black;
   border-radius: 10px;
   padding: 10px;
   margin: 10px 0;
   color: rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
   font-size: 15px;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
}
.btn-wsp a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    list-style: none;
}