* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(0, 0, 0);
    background: linear-gradient(300deg, rgb(0, 0, 0) 5%, rgba(255, 128, 0, 1) 78%);
    color: black;
    position: fixed;
    z-index: 999;
}

.header-content {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.img {
    width: 200px;
    height: 100px;
}