.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #333;
    color: white;
    width: 100%;

}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
/* Tipografias */
.footer-title {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Barlow Condensed', sans-serif;
}
.footer-description {
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
}
.footer-subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Barlow Condensed', sans-serif;
}

/* Social media */
.social-media {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.redes {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;

}
.logo-footer {
    width: 200px;
    height: 100px;
}
.redes-logo {
    width: 40px;
    height: 40px;
}


/* List service */
.footer-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
 
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
}
.column {
    list-style: none;
    gap: 20px;

}
.footer-li{
    list-style: none;
    padding: 5px;
}
.footer-icon{
    margin-right: 5px;
    font-size: 10px;
}
