.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url(/imagenes/logo5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-content {
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgb(36, 37, 37) 0%, rgba(0, 0, 0, 0.9473039215686274) 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.about-company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.caracteristics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;

}


.title-about {
    color: rgb(244, 110, 0);
    font-size: 5rem;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
    font-family: "Squada One", sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 20px;
}


.description-about {
    text-align: justify;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  
}


.subtitle-about {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    text-align: justify;

}

.caracteristic-title {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    text-align: justify;
    margin: 0 10px;
}

.description-caracteristics {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin: 0 10px;
}

.color-icon {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.li-caracteristics {
    list-style: none;
}

.progress-bar .progress {
    width: 150px;
    height: 40px;
    justify-content: space-between;
    align-items: start;
    margin: 10px 0;
}