.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url(/imagenes/sprinter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-content {
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgb(36, 37, 37) 0%, rgba(0, 0, 0, 0.9473039215686274) 100%);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.about-company{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
}

.title-about {
    color: rgb(244, 110, 0);
    font-size: 5rem;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
    font-family: "Squada One", sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 20px;
}


.description-about {
    text-align: center;
    color: white;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    
}

